{% extends "base.html" %}
{% load staticfiles lg %}

{% block title %}{{ location.name }}'s Archive Gallery{% endblock %}

{% block content %}
    <div class="container-fluid">

        <link rel="stylesheet" href="{% static "vendor/dropzone.css" %}">
        <h4><b>{{ location.project.name }} - {{ location.name }}</b></h4>

        <div class="card-columns container">
            {% for photo in location.photos.all %}
                <div class="card">
                    <img class="card-img-top"
                         src="{{ photo.photo_file.url }}"
                         alt="{{ photo }}">
                    <div class="card-body">
                        <p class="card-text">
                            {{ photo|u }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>


        <form action="{% url "post_new_image" location.project.slug %}"
              class="dropzone" id="dz">
            {% csrf_token %}
            <input type="hidden" name="location" value="{{ location.id }}"/>
        </form>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "vendor/dropzone.js" %}"></script>
    <script src="{% static "js/archive_gallery.js" %}"></script>
{% endblock %}
