/*-------------------------------*/
/*             navbar            */
/*-------------------------------*/
nav{
    margin: 0;
    overflow:hidden;
    text-align: center;
    background-color:#add3ad;
    border-color: #c0392b;
}

@import url(//fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
* {
  font-family: 'Open Sans Hebrew Condensed', sans-serif;
}

h3 {
    color:#246623;
    letter-spacing: 3px;
    font-size: 3em;
}

.page-header {
    margin-top: 70px;
    margin-left: 70px;
    text-align: center;
    color: #61b061;
}

.edit-header {
    font-size: 1em;
    text-align: left;
    color: #2a6829;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
    border-radius: 4px;
    width: 150px;
    height: 150px;
}

li a {
    color: green;
}

/*-------------------------------*/
/*             Sidebar           */
/*-------------------------------*/

#logo {
    float: left;

}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    text-decoration: none;
    color: green;
}

#menuToggle {
    display: block;
    position: relative;
    top: 170px;
    left: 63px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -3px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

.hamburger {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    z-index: 1;
    transform-origin: 4px 0px;
}

#menu {
    position: absolute;
    width: 250px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 150px;
    background: transparent;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    /* this is what actually closes the menu */

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    /* this adds animation to it*/
}

#menu li {
    padding: 10px 0;
    font-size: 14px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

.dropdown .dropdown-menu {
    position: relative;
    width: 100%;
    padding-left: 70px;
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

/*-------------------------------*/
/*             blocks           */
/*-------------------------------*/

.blocks {
    position: relative;
    margin-top: 6px;
}

.blocks ul {
    list-style: none;
}

.blocks .preview {
    line-height: 170%;
}

.blocks .meta {
    padding: 0;
}

.blocks .meta a {
    font-size: 70%;
}

.blocks .meta li {
    display: inline;
}

/*-------------------------------*/
/*        thumbnails            */
/*-------------------------------*/
.thumbnail {
    margin-top: 5%;
}

.thumbnail img, figcaption {
    height: 150px;
    width: 150px;
    padding: 10px;
}

figcaption {
    text-align: center;
}


/*-------------------------------*/
/*     index page flexbox        */
/*-------------------------------*/

.flex-container {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    }

#map {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 16 1 auto;
    -ms-flex: 16 1 auto;
    flex: 16 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    }

#sidebar {
    margin: 10px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }