.page-header {
    text-align: center;
    color: #61b061;
}
.edit-header {
    font-size: 1em;
    text-align: left;
    color: #2a6829;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
    border-radius: 4px;
    width: 150px;
    height:150px;
}

li a {
    color: green;
}