{% extends "base.html" %}
{% load i18n bootstrap4 %}

{% block content %}

    <div class="container">

        {% if form.errors %}
            <p>{% blocktrans %}Your username and password didn't match. Please
                try again.{% endblocktrans %}</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>{% blocktrans %}Your account doesn't have access to this
                    page.{% endblocktrans %}
                    <br>
                    {% blocktrans %}To proceed, please login with an account
                        that has access.{% endblocktrans %}
                </p>
            {% else %}
                <p>{% blocktrans %}Please login to see this
                    page.{% endblocktrans %}</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-lg btn-primary">{% trans "Login" %}</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">
            {% trans "Lost password?" %}
        </a></p>
    </div>

{% endblock %}