[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
"psycopg2" = "*"
pytz = "*"
pillow = "*"
djangorestframework = "*"
ipython = "*"
django-extensions = "*"
djangorestframework-gis = "*"
silly = "*"
"django-bootstrap4" = "*"
faker = "*"


[dev-packages]

