{% load staticfiles %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'archive_manager/images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'archive_manager/images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'archive_manager/images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'archive_manager/images/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'archive_manager/images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'archive_manager/style.css' %}">
</head>
<body>
<div class="container">

    <nav class="navbar navbar-fixed-top" role="navigation">
        <ul class="nav navbar-nav pull-sm-left">
            <li class="nav-item">
                <a class="navbar-brand" href="https://www.pardes-hanna-karkur.muni.il/">
                    <img src="{% static 'archive_manager/images/ph_c_logo.png' %}">
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav center-nav">

            <li class="nav-item navbar-center">
                <a class="nav navbar-nav " href="{% url 'home' %}">
                    <img src="{% static 'archive_manager/images/logo_1.png' %}">
                </a></li>
        </ul>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item navbar-right">
                <a data-toggle="collapse" data-target="#topmenu" href="#" id="navbarDropdownMenuLink">
                    <div id="menuToggle">
                        <span class="hamburger"></span>
                        <span class="hamburger"></span>
                        <span class="hamburger"></span>
                        <span class="hamburger"></span>

                    </div>

                </a>

            </li>
            <!--<ul class="nav navbar-nav navbar-right">
                  <a href="#" class="dropdown-toggle">
                    <div id="menuToggle" data-toggle="dropdown" aria-expanded="true" aria-haspopup="true">
                        <span class="hamburger"></span>
                        <span class="hamburger"></span>
                        <span class="hamburger"></span>
                        <span class="hamburger"></span>
                        <ul class="dropdown-menu">
                            <a href="{% url 'home' %}"><li>Home</li></a>
                            <a href="#"><li>About</li></a>
                            <a href="{% url 'post_new' %}"><li>Add Photo</li></a>
                            <a href="#"><li>Show on map</li></a>
                            <a href="#"><li>Info</li></a>
                            <a href="#"><li>Contact</li></a>
                        </ul>
                    </div>
                    </a>-->

        </ul>
    </nav>
    <div id="topmenu" class="collapse">
        <ul class="list-unstyled">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{% url 'post_new' %}">Add Photo</a></li>
            <li><a href="#">Show on map</a></li>
            <li><a href="#">Info</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>

{% block content %}
{% endblock %}
<script src="{% static 'vendor/jquery-3.2.1.js' %}"></script>
<script src="{% static 'csrf.js' %}"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script>

{% block scripts %}

{% endblock %}
</body>
</html>
