{% extends "archive_manager/base.html" %}
{% load staticfiles %}

{% block title %}{{ location.name }}'s Archive Gallery{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static "vendor/dropzone.css" %}">
    <h4><b>{{ location.project.name }} - {{ location.name }}</b></h4>

    <div class="row">

        {% for photo in location.photos.all %}
            <div class="column">
                <figure>
                    <img src="{{ photo.photo_file.url }}"
                         alt="{{ photo.name }}"/>
                    <figcaption>{{ photo.name }}</figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>

    <form action="{% url "post_new_image" location.project.slug %}" class="dropzone" id="dz">
        {% csrf_token %}
        <input type="hidden" name="location" value="{{ location.id }}"/>
    </form>


{% endblock %}

{% block scripts %}
    <script src="{% static "vendor/dropzone.js" %}"></script>
    <script src="{% static "archive_gallery.js" %}"></script>
{% endblock %}
