{% extends "base.html" %}
{% load i18n %}
{% block title %}Local Gallery{% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "vendor/dropzone.css" %}">
    <link rel="stylesheet" href="{% static "vendor/leaflet/leaflet.css" %}"/>
    <div class="flex23">
        <div class="flex-item">
            <div id="map" data-bounds="{{ object.bounds }}"></div>
        </div>
        <div class="flex-item">
            <div class="card-columns container">
                {#                 data-create-url="{% url "create_location" %}">#}
                {% for location in object.locations.all %}
                    <div class="location"
                         data-lat="{{ location.point.coords.1|floatformat:5 }}"
                         data-lng="{{ location.point.coords.0|floatformat:5 }}">

                        <div class="card" >
                            <img class="card-img-top"
                                 src="{{ location.first_photo_url }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="{{ location.get_absolute_url }}"
                                       class="name">
                                        {{ location.name }}
                                    </a>
                                    <small class="muted">
                                        ({{ location.photos.count }} {% trans "Photos" %})
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static "vendor/leaflet/leaflet-src.js" %}"></script>
    <script src="{% static "js/project_detail.js" %}"></script>
    <script src="{% static "vendor/dropzone.js" %}"></script>
    <script src="{% static "js/archive_gallery.js" %}"></script>
{% endblock %}
